#-----------------------activar htaccess--------------------------
   Options +FollowSymlinks
    RewriteEngine On

#---------------eliminar las extensiones--------------------------
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ $1.php 




#----------------bloquear carpeta sin index-----------------------
    Options All -Indexes


#--------------bloqueo de htacess---------------------
    <Files .htaccess>
    order allow,deny
    deny from all
    </Files>


#---------------------Bloquear Inyeccion SQL-------------------------------
#Una de las pesadillas más antiguas de las vulnerabilidades web son las inyecciones sql. Mediante la inyección de fragmentos de código SQL en los valores de nuestras variables:
#mipass=’ OR ''='
#miuser=' AND 0 UNION SELECT 1 AND 'l'='
#A veces se pueden conseguir algunos resultados divertidos. El uso del siguiente conjunto de reglas nos ayudará a filtrar la mayoría de estas situaciones:

    RewriteCond %{QUERY_STRING} (;|<|>|’|”|\)|%0A|%0D|%22|%27|%3C|%3E|%00).*(/\*|union|select|insert|cast|set|declare|drop|update|md5|benchmark) [NC,OR]
    RewriteCond %{QUERY_STRING} \.\./\.\. [OR]
    RewriteCond %{QUERY_STRING} (localhost|loopback|127\.0\.0\.1) [NC,OR]
    RewriteCond %{QUERY_STRING} \.[a-z0-9] [NC,OR]
    RewriteCond %{QUERY_STRING} (<|>|’|%0A|%0D|%27|%3C|%3E|%00) [NC]
    RewriteRule .* - [F]
    
#---------------------Bloqueo de agentes y utilidades de línea de comandos------------------------
#Algunas herramientas de búsqueda y explotación de vulnerabilidades o los conocidos downloaders poseen agentes particulares y fáciles de detectar como: wget, curl, java, HTTrack, perl, java, etc
    
    RewriteCond %{HTTP_USER_AGENT} ^$ [OR]
    RewriteCond %{HTTP_USER_AGENT} ^(java|curl|wget) [NC,OR]
    RewriteCond %{HTTP_USER_AGENT} (winhttp|HTTrack|clshttp|archiver|loader|email|harvest|extract|grab|miner) [NC,OR]
    RewriteCond %{HTTP_USER_AGENT} (libwww-perl|curl|wget|python|nikto|scan) [NC,OR]
    RewriteCond %{HTTP_USER_AGENT} (<|>|’|%0A|%0D|%27|%3C|%3E|%00) [NC]
    RewriteRule .* - [F]
    


#------------------------Block bad bots-----------------------------------------
    SetEnvIfNoCase user-Agent ^FrontPage [NC,OR]
    SetEnvIfNoCase user-Agent ^Java.* [NC,OR]
    SetEnvIfNoCase user-Agent ^Microsoft.URL [NC,OR]
    SetEnvIfNoCase user-Agent ^MSFrontPage [NC,OR]
    SetEnvIfNoCase user-Agent ^Offline.Explorer [NC,OR]
    SetEnvIfNoCase user-Agent ^[Ww]eb[Bb]andit [NC,OR]
    SetEnvIfNoCase user-Agent ^Zeus [NC]
     
    Order Allow,Deny
    Allow from all
    Deny from env=bad_bot
    

#------------- URL AMIGABLES --------------------

    RewriteRule ^(.*)\.html ver.php?pag=$1 [L]


